apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "quiethn.fullname" . }}
  labels:
    {{- include "quiethn.labels" . | nindent 4 }}
spec:
  concurrencyPolicy: Replace 
  schedule: {{ .Values.updater.schedule | quote }}
  jobTemplate:
    spec:
      {{- with .Values.updater.ttlSecondsAfterFinished }}
      ttlSecondsAfterFinished: {{ . }}
      {{- end }}
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - image: {{ .Values.quiethnUpdaterImage }}
              name: updater 
              imagePullPolicy: Always
              env:
                {{- include "quiethn.env" . | nindent 16 }}
